<!DOCTYPE html>
<html>
  <head>
    <title>A Table</title>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= javascript_pack_tag 'App' %>
    <%= stylesheet_pack_tag 'App' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>